@import url('https://fonts.googleapis.com/css2?family=Gilroy:wght@400;500;600;700;800&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: rgb(12, 11, 11);
    padding: 12px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    
    font-family: "Gilroy", sans-serif;
}
.logo-container{
    margin-left: 0;
    padding: 0;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}
.nav-items{
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 0;
    font-size: 20px;
    margin: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.nav-items li {
    cursor: pointer;
    color: #1f1f1f;
    font-weight: 500;
}
.nav-items li:hover{
    color: #ff5200;
}
.search{
    padding:10px;
}

.restro-card {
  width: 280px;
  font-family: "Gilroy", sans-serif;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
}

/* IMAGE */
.restro-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.restro-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(
    rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  border-radius: 16px;
  pointer-events: none;
  top: 110px;
}



/* OFFER BADGE (h2) */
.restro-card h2 {
  position: absolute;
  top: 145px;               /* overlaps image */
  left: 12px;
  line-height: 24px;
  letter-spacing: -0.5px;
  /* background: linear-gradient(90deg, #1f1f1f, #000); */
  color: rgba(255, 255, 255, 0.92);
  font-size: 20px;
  font-weight: 800;
  padding: 6px 10px;
  border-radius: 8px;
  margin: 0;
  z-index: 10;
  font-family: "Gilroy", sans-serif;
}

/* NAME */
.restro-card h3 {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #02060c;
  padding: 0 12px;
  font-family: "Gilroy", sans-serif;
}

/* CUISINES */
.restro-card h4:nth-of-type(1) {
  font-size: 15px;
  color: #686b78;
  font-weight: 400;
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 12px;
}

/* RATING */
.restro-card h4:nth-of-type(2) {
  color: #0f8a65;
  font-weight: 600;
  font-size: 14px;
  margin: 4px 0;
  padding: 0 12px;
}

/* DELIVERY TIME */
.restro-card h4:nth-of-type(3) {
  font-size: 14px;
  color: #3e4152;
  font-weight: 500;
  padding: 0 12px;
}

/* HOVER EFFECT (Swiggy style) */
.restro-card:hover {
  transform: scale(0.97);
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Card Container */
.restro-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 50px;
}

/*.restro-card{
    width:250px;
    height:fit-content;
    border-radius:10px;
    margin: 10px;
    padding: 5px;
}
.restro-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.restro-image{
   width:100%;
   height:200px;
   border-radius: 10px;
} */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.search-box{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
}
.search-btn{
    height: 42px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #ff5200;
    color: white;
    cursor: pointer;
    
}        

.filter-btn{
    height: 42px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #ff5200;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}
.shimmer-container {
    display: grid;
    margin-top: 150px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 50px;
}
.shimmerCard {
  width: 280px;
  height: 350px;
  position: relative;
  /* background-color: #c7c8cf; */
  border-radius: 16px;
  
}

.shimmer-image {
  width: 100%;
  height: 180px;
  border-radius: 16px ;
  background-color: #e2e3e7;
}

.login-btn{
    height: 42px;
    border-radius: 5px;
    border: none;
    font-size: 20px;

    padding: 5px 10px;
    margin-bottom: 20px;
    padding-bottom:5px;
    background-color: #ff5200;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}