.header{
    display: flex;
    justify-content:space-between;
    background-color: #ff5200;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.logo-container{
    margin-left: 10px;
    padding: 8px;
}
.logo{
    width: 100px;
    border-radius: 10px;
}
.nav-items{
    list-style-type: none;
    display: flex;
    gap: 80px;
    padding: 5px;
    font-size: 24px;
    margin-right: 30px;
}
.search{
    padding:10px;
}
.restro-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.restro-card{
    width:250px;
    height:fit-content;
    border-radius:10px;
    margin: 10px;
    padding: 5px;
}
.restro-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.restro-image{
   width:100%;
   height:200px;
   border-radius: 10px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.search-box{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
}
.search-btn{
    height: 42px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #ff5200;
    color: white;
    cursor: pointer;
    
}           